@font-face {
    font-family: 'Fraunces';
    src: url('../design/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../design/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 500, 700;
    font-style: normal;
}

:root {
    /* Primary */
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);
    /* Neutral */
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Cream);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-card {
    background-color: var(--White);
    border-radius: 0.50rem;
    height: auto;
    width: 24rem;
}

.product-image {
    border-radius: 0.50rem 0.50rem 0 0;
    overflow: hidden;
    object-fit: cover;
}

.product-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.perfume {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.875rem;
    color: var(--Grey);
}

.product-name {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2rem;
    color: var(--Black);
    line-height: 1;
}

.product-description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--Grey);
}

.product-price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2rem;
    color: var(--Green500);
}

.price-sale {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.85rem;
    color: var(--Grey);
    text-decoration: line-through;
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--Green500);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    color: var(--White);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
}

.cart-btn:hover {
    background-color: var(--Green700);
}

.cart-btn img {
    position: relative;
    left: -7rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 62rem) {
    .product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 37rem;
        height: 27rem;
        overflow: hidden;
    }

    .product-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

